##### <font color='blue'>AI Assignment: Seating Arrangement Optimization</font>
##### <font color='blue'>Student Name: Lina Abureesh</font>
##### <font color='blue'>University ID: 1211985</font>

#### Import Libraries

In [1]:
import numpy as np 
import pandas as pd
import random 
import copy
import math
#import warnings

#### Load data

In [2]:
dislikes = pd.read_csv('dislike.csv')

In [3]:
dislikes

  Unnamed: 0 Ahmed Salem Ayman Hani Kamal Samir Hakam Fuad Ibrahim Khalid
0      Ahmed    0%   68%   55%  30%   82%   48%   33%  10%     76%    43%
1      Salem   68%    0%   90%  11%   76%   20%   55%  17%     62%    99%
2      Ayman   55%   90%    0%  70%   63%   96%   51%  90%     88%    64%
3       Hani   30%   11%   70%   0%   91%   86%   78%  99%     53%    92%
4      Kamal   82%   76%   63%  91%    0%   43%   88%  53%     42%    75%
5      Samir   48%   20%   96%  86%   43%    0%   63%  97%     37%    26%
6      Hakam   33%   55%   51%  78%   88%   63%    0%  92%     87%    81%
7       Fuad   10%   17%   90%  99%   53%   97%   92%   0%     81%    78%
8    Ibrahim   76%   62%   88%  53%   42%   37%   87%  81%      0%    45%
9     Khalid   43%   99%   64%  92%   75%   26%   81%  78%     45%     0%

In [4]:
dislikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     object
 1   Ahmed       10 non-null     object
 2   Salem       10 non-null     object
 3   Ayman       10 non-null     object
 4   Hani        10 non-null     object
 5   Kamal       10 non-null     object
 6   Samir       10 non-null     object
 7   Hakam       10 non-null     object
 8   Fuad        10 non-null     object
 9   Ibrahim     10 non-null     object
 10  Khalid      10 non-null     object
dtypes: object(11)
memory usage: 1012.0+ bytes

#### Data Preprocessing

In [5]:
dislikes.rename(columns={'Unnamed: 0': 'Guests'}, inplace=True)
dislikes.set_index('Guests', inplace=True)

In [6]:
dislikes

        Ahmed Salem Ayman Hani Kamal Samir Hakam Fuad Ibrahim Khalid
Guests
Ahmed      0%   68%   55%  30%   82%   48%   33%  10%     76%    43%
Salem     68%    0%   90%  11%   76%   20%   55%  17%     62%    99%
Ayman     55%   90%    0%  70%   63%   96%   51%  90%     88%    64%
Hani      30%   11%   70%   0%   91%   86%   78%  99%     53%    92%
Kamal     82%   76%   63%  91%    0%   43%   88%  53%     42%    75%
Samir     48%   20%   96%  86%   43%    0%   63%  97%     37%    26%
Hakam     33%   55%   51%  78%   88%   63%    0%  92%     87%    81%
Fuad      10%   17%   90%  99%   53%   97%   92%   0%     81%    78%
Ibrahim   76%   62%   88%  53%   42%   37%   87%  81%      0%    45%
Khalid    43%   99%   64%  92%   75%   26%   81%  78%     45%     0%

In [7]:
dislikes = dislikes.map(lambda x: x.replace('%', ''))

In [8]:
dislikes = dislikes.astype(int)

In [9]:
dislikes

         Ahmed  Salem  Ayman  Hani  Kamal  Samir  Hakam  Fuad  Ibrahim  Khalid
Guests
Ahmed        0     68     55    30     82     48     33    10       76      43
Salem       68      0     90    11     76     20     55    17       62      99
Ayman       55     90      0    70     63     96     51    90       88      64
Hani        30     11     70     0     91     86     78    99       53      92
Kamal       82     76     63    91      0     43     88    53       42      75
Samir       48     20     96    86     43      0     63    97       37      26
Hakam       33     55     51    78     88     63      0    92       87      81
Fuad        10     17     90    99     53     97     92     0       81      78
Ibrahim     76     62     88    53     42     37     87    81        0      45
Khalid      43     99     64    92     75     26     81    78       45       0

In [10]:
dislikes = dislikes.map(lambda x: x/100)
dislikes

         Ahmed  Salem  Ayman  Hani  Kamal  Samir  Hakam  Fuad  Ibrahim  Khalid
Guests
Ahmed     0.00   0.68   0.55  0.30   0.82   0.48   0.33  0.10     0.76    0.43
Salem     0.68   0.00   0.90  0.11   0.76   0.20   0.55  0.17     0.62    0.99
Ayman     0.55   0.90   0.00  0.70   0.63   0.96   0.51  0.90     0.88    0.64
Hani      0.30   0.11   0.70  0.00   0.91   0.86   0.78  0.99     0.53    0.92
Kamal     0.82   0.76   0.63  0.91   0.00   0.43   0.88  0.53     0.42    0.75
Samir     0.48   0.20   0.96  0.86   0.43   0.00   0.63  0.97     0.37    0.26
Hakam     0.33   0.55   0.51  0.78   0.88   0.63   0.00  0.92     0.87    0.81
Fuad      0.10   0.17   0.90  0.99   0.53   0.97   0.92  0.00     0.81    0.78
Ibrahim   0.76   0.62   0.88  0.53   0.42   0.37   0.87  0.81     0.00    0.45
Khalid    0.43   0.99   0.64  0.92   0.75   0.26   0.81  0.78     0.45    0.00

#### Create likes data frame

In [11]:
likes = dislikes.map(lambda x: 1 - x)
likes

         Ahmed  Salem  Ayman  Hani  Kamal  Samir  Hakam  Fuad  Ibrahim  Khalid
Guests
Ahmed     1.00   0.32   0.45  0.70   0.18   0.52   0.67  0.90     0.24    0.57
Salem     0.32   1.00   0.10  0.89   0.24   0.80   0.45  0.83     0.38    0.01
Ayman     0.45   0.10   1.00  0.30   0.37   0.04   0.49  0.10     0.12    0.36
Hani      0.70   0.89   0.30  1.00   0.09   0.14   0.22  0.01     0.47    0.08
Kamal     0.18   0.24   0.37  0.09   1.00   0.57   0.12  0.47     0.58    0.25
Samir     0.52   0.80   0.04  0.14   0.57   1.00   0.37  0.03     0.63    0.74
Hakam     0.67   0.45   0.49  0.22   0.12   0.37   1.00  0.08     0.13    0.19
Fuad      0.90   0.83   0.10  0.01   0.47   0.03   0.08  1.00     0.19    0.22
Ibrahim   0.24   0.38   0.12  0.47   0.58   0.63   0.13  0.19     1.00    0.55
Khalid    0.57   0.01   0.36  0.08   0.25   0.74   0.19  0.22     0.55    1.00

#### Calculate cost

In [12]:
def calculate_cost(arrangement):
    cost = likes.loc[arrangement[0]][arrangement[len(arrangement) - 1]]
    for i in range(len(arrangement) - 1):
        cost += likes.loc[arrangement[i]][arrangement[i+1]]
    return cost

In [13]:
calculate_cost(['Ahmed', 'Salem', 'Ayman', 'Hani', 'Kamal', 'Samir', 'Hakam', 'Fuad', 'Ibrahim', 'Khalid'])

3.1399999999999997

#### Genetic Algorithm

In [14]:
def generate_random_state(seed=None):
    state = []
    state_length = len(likes.columns)
    while(len(state) < state_length):
        index = random.randint(0, state_length - 1)
        guest = likes.columns[index]
        if(guest not in state):
            state.append(guest)
    cost = calculate_cost(state)
    return state, cost

In [15]:
def generate_random_popluation(population_size, seed=None):
    random.seed(seed)
    population = []
    costs = [] 
    while(len(population) < population_size):
        chromosome, cost = generate_random_state(seed)
        if(chromosome not in population):
            population.append(chromosome)
            costs.append(cost)
    return population, costs

In [16]:
def genetic_algorithm(population_size=100, num_generations=1000, mutation_rate=0.1):
    # randomly generate initial population
    population, costs = generate_random_popluation(population_size)
    best_arrangement, best_cost = [], 0
    for i in range(num_generations):
        least_cost_index = int(0.6 * population_size)
        least_cost = sorted(costs, reverse=True)[least_cost_index]
        # population = [i for i in population if costs[np.where(i)[0][0]] >= least_cost]
        pop  = []
        for i in range(len(costs)):
            if(costs[i] >= least_cost):
                pop.append(population[i])

        population = pop
        new_population = []
        new_costs = []
        while len(new_population) < population_size:
            invalid_crossing = True
            while(invalid_crossing):
                x = random_select(population)
                y = random_select(population)
                cross_over_point = choose_cross_over_point(x, y)
                if cross_over_point != -1: # random cross over point was found and valid 
                    invalid_crossing = False 
                    first_child, second_child = cross_over(x, y, cross_over_point) 
                    first_child = mutate(first_child, mutation_rate)
                    second_child = mutate(second_child, mutation_rate)
                    new_population.append(first_child)
                    new_population.append(second_child)
                    first_child_cost = calculate_cost(first_child)
                    second_child_cost = calculate_cost(second_child)
                    new_costs.append(first_child_cost)
                    new_costs.append(second_child_cost)
                    if(first_child_cost > best_cost):
                        best_cost = first_child_cost
                        best_arrangement = first_child
                    if(second_child_cost > best_cost):
                        best_cost = second_child_cost
                        best_arrangement = second_child
        population = new_population
        costs = new_costs
    return best_arrangement, best_cost

In [17]:
def random_select(population):
    random_index = random.randint(0, len(population) - 1)
    return population[random_index]

In [18]:
def choose_cross_over_point(x, y):
    for i in range(20):
        random_index = random.randint(0, len(x) - 2)
        point_is_valid = True
        for gene in x[:random_index + 1]:
            if gene not in y[:random_index + 1]:
                point_is_valid = False
                break 
        if point_is_valid:
            return random_index

    return -1 # random point was not found

In [19]:
def cross_over(x, y, cross_over_point):
    first_child, second_child = [], []
    for i in range(cross_over_point + 1): 
        first_child.append(x[i])
        second_child.append(y[i])
    for i in range(cross_over_point + 1, len(x)):
        first_child.append(y[i])
        second_child.append(x[i])
    return first_child, second_child

In [20]:
def mutate(chromosome, mutation_rate):
    mutated_chromosome = copy.deepcopy(chromosome)
    array = np.zeros(100)
    freq_of_1 = int(mutation_rate * array.shape[0])
    for i in range(freq_of_1):
        array[i] = 1
    # probability of getting 1 randomly = mutation rate 
    random_value = array[random.randint(0, array.shape[0] - 1)]
    if(random_value == 1):
        # get two radnom positions in the chromosome
        pos_1 = random.randint(0, len(mutated_chromosome) - 1)
        pos_2 = random.randint(0, len(mutated_chromosome) - 1)
        # swap genes at the two positions 
        temp = mutated_chromosome[pos_1]
        mutated_chromosome[pos_1] = mutated_chromosome[pos_2]
        mutated_chromosome[pos_2] = temp

    return mutated_chromosome

#### Hill Climbing Algorithm

In [21]:
def hill_climbing(num_restarts=100):
    restartNo = 0
    best_arrangement, best_cost = [], 0
    while(restartNo < num_restarts):
        # start with a random arrangement
        curr_arrangement, curr_cost = generate_random_state()
        neighbours, neighbours_costs = generate_neighbours(curr_arrangement)
        highest_cost = neighbours_costs.max()
        best_neighbour = neighbours[np.where(neighbours_costs == highest_cost)[0][0]] # the first arrangement with highest cost value
        while(True):
           if(highest_cost <= curr_cost):
               if(curr_cost >= best_cost):
                   best_arrangement, best_cost = curr_arrangement, curr_cost
               restartNo += 1
               break
           else:
               curr_arrangement = best_neighbour
               curr_cost = highest_cost
               neighbours, neighbours_costs = generate_neighbours(curr_arrangement)
               highest_cost = neighbours_costs.max()
               best_neighbour = neighbours[np.where(neighbours_costs == highest_cost)[0][0]]        
    return best_arrangement, best_cost

In [22]:
def generate_neighbours(arrangement):
    neighbours = []
    costs = []
    for i in range(len(arrangement) - 1):
        for j in range(i+1, len(arrangement)):
            neighbour = copy.deepcopy(arrangement)
            swap(neighbour, i, j)
            neighbours.append(neighbour)
            costs.append(calculate_cost(neighbour))
    return neighbours, np.array(costs)

In [23]:
def swap(arrangement, i, j):
    temp = arrangement[i]
    arrangement[i] = arrangement[j]
    arrangement[j] = temp

#### Simulated Annealing Algorithm

In [24]:
def simulated_annealing(initial_temperature=100000, cooling_rate=0.99, num_iterations=10000):
    temp = initial_temperature
    # Start with a random arrangement
    curr_arrangement, curr_cost = generate_random_state()
    for i in range(num_iterations):
        neighbours, neighbours_costs = generate_neighbours(curr_arrangement)
        # randomly select any neighbour 
        random_val = random.randint(0, len(neighbours) - 1)
        selected_neighbour = neighbours[random_val]
        selected_neighbour_cost = neighbours_costs[random_val]
        delta = selected_neighbour_cost - curr_cost 
        # test improvement
        if delta > 0:
            curr_arrangement = selected_neighbour
            curr_cost = selected_neighbour_cost
        else:
            # accept worse solutions with a probability depending on the current temperature to escape local minima.
            probability = math.exp(delta/temp)
            if (accept_worse(probability)):
                curr_arrangement = selected_neighbour
                curr_cost = selected_neighbour_cost
        temp *= cooling_rate # decrease temperature
    return curr_arrangement, curr_cost

In [25]:
def accept_worse(probability):
    array = np.zeros(1000)
    freq = int(probability * array.shape[0])
    for i in range(freq):
        array[i] = 1
    random_index = random.randint(0, array.shape[0] - 1)
    return array[random_index] == 1

#### Algorithms Test

In [26]:
# warnings.filterwarnings("ignore") # supress warnings
genetic_arrangement, g_cost = genetic_algorithm()
print(f'Genetic Algorithm: \nBest Seating Arrangement: {genetic_arrangement}\nTotalCost: {g_cost:.2f}\n')

simulated_arrangement, s_cost = simulated_annealing()
print(f'Simulated Annealing: \nBest Seating Arrangement: {simulated_arrangement}\nTotalCost: {s_cost:.2f}\n')

hill_arrangement, h_cost = hill_climbing()
print(f'Hill Climbing: \nBest Seating Arrangement: {hill_arrangement}\nTotalCost: {h_cost:.2f}')

Genetic Algorithm:
Best Seating Arrangement: ['Salem', 'Hani', 'Ibrahim', 'Kamal', 'Fuad', 'Ahmed', 'Hakam', 'Ayman', 'Khalid', 'Samir']
TotalCost: 6.37

Simulated Annealing:
Best Seating Arrangement: ['Khalid', 'Samir', 'Salem', 'Hani', 'Ayman', 'Hakam', 'Ahmed', 'Fuad', 'Kamal', 'Ibrahim']
TotalCost: 6.39

Hill Climbing:
Best Seating Arrangement: ['Hakam', 'Ahmed', 'Fuad', 'Salem', 'Hani', 'Ibrahim', 'Kamal', 'Samir', 'Khalid', 'Ayman']
TotalCost: 6.50